html,
body {
    margin:0;
    padding:0;
    color:#000;
    background:#FFFFFF;
    font-family: 'Helvetica', sans-serif;
}
#body {
    width:960px;
    margin:0 auto;
    background:#FFFFFF;
}
#header {
    padding:10px;
    background:#99FFFF;
}
#content-1 {
    float:left;
    width:220px;
    padding:10px;
    background:#99FFFF;
}
#content-2-1 {
    float:left;
    width:460px;
    padding:10px;
    background:#FFFFFF;
}
#content-2-2 {
    float:right;
    width:220px;
    padding:10px;
    background:#FFFF00;
}
#footer {
    clear:both;
    padding:10px;
    background:#ff9;
}


